/* .grid-container {
  margin-top: 5rem;
  


  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 200px 200px 200px; */
/* grid-auto-columns: 250px;
  grid-auto-rows: 200px; */
/* gap: 1rem;
  grid-template-areas: 
  "box-1 box-1 box-1  box-2"
  "box-3 box-4 box-5  box-6"
  "box-7  box-7 box-8  box-8 ";
  justify-content: center;
} */

.grid-container {
  margin-top: 5rem;
  display: flex;
 
  flex-direction: column;
  align-items: center;
 
  


}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 80%;
  height: 180px;

  gap: 1rem;

  grid-template-areas:
    "box-1 box-1 box-1  box-2"

  ;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 80%;
  height: 180px;
  margin-top: 1rem;

  gap: 1rem;

  grid-template-areas:
    "box-1 box-2 box-3  "
  ;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 80%;
  height: 180px;
  margin-top: 1rem;

  gap: 1rem;

  grid-template-areas:
    "box-1 box-1 box-2 box-2 box-3  "
  ;
}

.box {
  background-color: white;
  box-shadow: 
    0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 15px;
}

.box:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.18);
}